.places {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  row-gap: 80px;
  padding: 92px 0;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    /* calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    padding: calc((100vw - 768px)/(1024 - 768) * (92 - 88) + 88px) calc((100vw - 768px)/(1024 - 768) * (48 - 24) + 24px);
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: calc((100vw - 320px)/(768 - 320) * (88 - 64) + 64px) calc((100vw - 320px)/(768 - 320) * (24 - 0) + 0);
  }
}
