.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-align-items: end;
          align-items: end;
  margin-top: 1.75rem;
  padding: 0 3rem;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 1.5rem;
  }
}
