.footer__links {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  gap: 18px;
}

@media screen and (max-width: 576px) {
  .footer__links {
    -webkit-flex-direction: column;
            flex-direction: column;
    gap: 32px;
  }
}


