.place__link {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 18px;
  font-weight: 400;
  line-height: 122%;
  text-decoration: underline;
  color: #fff;
  transition: opacity 0.3s;
}

.place__link:hover {
  opacity: 0.8;
}
