.cover__title {
  margin: 0;
  max-width: 560px;
  position: relative;
  font-size: 72px;
  font-weight: 900;
  line-height: 106%;
}

@media screen and (max-width: 768px) {
  .cover__title {
    /* calc((100vw - Vmin)/(Vmax - Vmin) * (Fmax - Fmin) + Fmin); */
    font-size: calc((100vw - 320px)/(768 - 320) * (72 - 32) + 32px);
    line-height: 109%;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
  }
}


