.header__lang-links {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: end;
      justify-self: end;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  -moz-column-gap: 18px;
       column-gap: 18px;
  list-style: none;
}
